html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.root-container {
  flex: 1;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}
.root-title {
  display: flex;
  justify-content: center;
}
.root-navs {
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
}
.root-navs .nav-item {
  padding: 8px 16px;
  border: 1px solid #aaa;
}
.root-outlet {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.coms-nav {
  width: 100%;
  height: 100%;
}

.coms-nav-list {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.coms-nav-list .coms-nav-item {
  padding: 4px 8px;
  border: 1px solid #aaa;
  margin-right: 10px;
}

.pending {
  color: #aaa;
}
.active {
  color: #f00;
}
